@using GroupProject_Ecommerce.ViewModels;
@using GroupProject_Ecommerce.Models;
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<!--Register-->
<section class="login py-5 border-top-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 align-item-center">
                <div class="border border">
                    <h3 class="bg-gray p-4">Đăng Ký Tài Khoản</h3>
                    <form asp-action="Register" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <fieldset class="p-4">
                            <div>
                                <input asp-for="FirstName" class="form-control mb-4" placeholder="Tên và chữ lót">
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div>
                                <input asp-for="LastName" class="form-control mb-4" placeholder="Họ">
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div>
                                <input asp-for="UserName" class="form-control mb-4" placeholder="Username">
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div>
                                <input asp-for="PhoneNumber" class="form-control mb-4" placeholder="Số điện thoại">
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <div>
                                <input asp-for="Email" class="form-control mb-4" placeholder="Email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <select asp-for="City" class="form-control mb-4" onchange="setSelectedCity(this)">
                                <option value="">Chọn thành phố</option>
                                @foreach (var city in ViewBag.Cities)
                                {
                                    <option value="@city.province_name">@city.province_name</option>
                                }
                            </select>

                            <input type="hidden" id="selectedCityInput" name="SelectedCityName" />

                            <script>
                                function setSelectedCity(selectElement) {
                                    var selectedCity = selectElement.value;
                                    document.getElementById("selectedCityInput").value = selectedCity;
                                }
                            </script>
                            <div>
                                <input asp-for="Password" class="form-control mb-4" placeholder="Mật khẩu">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div>
                                <input asp-for="ConfirmPassword" class="form-control mb-4" placeholder="Xác nhận mật khẩu">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>

                            <button type="submit" class="btn-login">Đăng ký ngay</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

