
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<!--Register-->
<section class="login py-5 border-top-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8 align-item-center">
                <div class="border border">
                    <h3 class="bg-gray p-4">Register Now</h3>
                    <form action="#">
                        <fieldset class="p-4">
                            <input class="form-control mb-4" type="email" placeholder="Username*" required>
                            <input class="form-control mb-4" type="email" placeholder="Phone*" required>
                            <input class="form-control mb-4" type="email" placeholder="Email*" required>
                            <input class="form-control mb-4" type="password" placeholder="Password*" required>
                            <input class="form-control mb-4" type="password" placeholder="Confirm Password*" required>
                            <button type="submit" class="btn-login">Register</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

