@model GroupProject_Ecommerce.ViewModels.PasswordViewModel

@{
    ViewData["Title"] = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<section class="user-profile section">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="sidebar-dashboard">
					<!-- User Widget -->
					<div class="widget user">
						<!-- User Image -->
						<div class="image d-flex justify-content-center">
							<img src="~/images/user/user-thumb.jpg" alt="" class="">
						</div>
						<!-- User Name -->
						<h5 class="text-center">@ViewBag.FullName</h5>
					</div>
					<!-- Dashboard Links -->
					<div class="widget user-dashboard-menu">
						<ul>
							<li><a asp-controller="User" asp-action="Profile">Thông tin cá nhân</a></li>
							<li><a asp-controller="User" asp-action="Edit">Chỉnh sửa thông tin cá nhân</a></li>
							<li><a asp-controller="User" asp-action="ChangePassword">Đổi mật khẩu</a></li>
							<li><a asp-controller="User" asp-action="ChangeEmail">Đổi email</a></li>
							<li><a asp-controller="User" asp-action="OrderList">Lịch sử đơn hàng</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-8">
				<!-- Edit Profile Welcome Text -->
				<div class="widget welcome-message">
					<h2>@ViewBag.FullName</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
				</div>
				<!-- Edit Personal Info -->
				<div class="row">
					<div class="col-md-12">
						<div class="widget change-password">
							<h3 class="widget-header user">Đổi mật khẩu</h3>
							<form asp-controller="User" asp-action="ChangePassword" method="post">
								<div asp-validation-summary="ModelOnly" class="text-danger"></div>
								<div class="form-group">
									<label for="current-password">Mật khẩu hiện tại</label>
									<input asp-for="CurrentPassword" type="password" class="form-control" id="current-password">
									<span asp-validation-for="CurrentPassword" class="text-danger"></span>
								</div>
								<div class="form-group">
									<label for="new-password">Mật khẩu mới</label>
									<input asp-for="NewPassword" type="password" class="form-control" id="new-password">
									<span asp-validation-for="NewPassword" class="text-danger"></span>
								</div>
								<div class="form-group">
									<label for="confirm-password">Nhập lại mật khẩu</label>
									<input asp-for="ConfirmPassword" type="password" class="form-control" id="confirm-password">
									<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
								</div>
								<button class="btn btn-transparent">Lưu thay đổi</button>
							</form>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>
