@{
	ViewData["Title"] = "PaymentSuccess";
	Layout = "~/Views/Shared/_CheckoutLayout.cshtml";
}

<!-- breadcrumb -->
<div class="container">
	<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
		<a href="/Home/Index" class="stext-109 cl8 hov-cl1 trans-04">
			
			<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
		</a>

		<span class="stext-109 cl4">
			
		</span>
	</div>
</div>

<div class="container">
	<div class="row text-center">
		<div class="py-5 d-flex flex-col align-items-center">
			<h2>ĐẶT HÀNG THÀNH CÔNG</h2>
			<p>Cảm ơn bạn vì đã tin tưởng mua sắm tại Magic Shop</p>

			@Html.ActionLink("Xem đơn hàng của tôi", "OrderList", "User", null, new { @class = "w-25 flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10" })
			@Html.ActionLink("Tiếp tục mua sắm", "Index", "Home", null, new { @class = "w-25 flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10" })

		</div>
	</div>
</div>


